[Unit]
Description=CrysGarage API Service
After=network.target

[Service]
Type=simple
User=nginx
Group=nginx
WorkingDirectory=/var/www/crysgarage-api
ExecStart=/var/www/crysgarage/audio-mastering-service/venv39/bin/python main.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=crysgarage-api

[Install]
WantedBy=multi-user.target
