[Unit]
Description=CrysGarage Audio Analyzer Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/crysgarage/audio-analyzer-service
Environment=PATH=/var/www/crysgarage/audio-analyzer-service/venv/bin
ExecStart=/var/www/crysgarage/audio-analyzer-service/venv/bin/python main.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
